<div>
    <h1 id="welcome">Bienvenide al chat</h1>
    <div>
        <label for="box">Escribe tu mensaje aqui</label>
        <input type="text" id="box" name="box">
    </div>
    <h2>CHAT:</h2>
    <div id="app-chat"></div>
    <h3>Usuarios Conectados:</h3>
    <div id="connected-user"></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/index.js"></script>   